<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="é">
         <property
               name="appName"
               value="é">
         </property>
         <property
               name="windowImages"
               value="img/e16.png,img/e32.png,img/e48.png,img/e64.png,img/e128.png">
         </property>
      </product>
   </extension>

</plugin>
